<div class="container text-center">
  <div class="row">
    <div class="col align-self-start">
    </div>
    <div class="col align-self-center perso">
                <h1 class="perfi"> Añadir Foto de Perfil</h1>
                <br>
                <form action="/movies" method="post" enctype="multipart/form-data">
                <input type="file" name="image" />
                <input type="submit" class="botoncio">
                </form>   
    </div>
    <div class="col align-self-end">
    </div>
  </div>
</div>