
    <main class="create mx-auto prueba">
      
      <article class="links"> 
        already have an account?
        <a class="as" href="https://outlook.live.com"> Sign in </a>
      </article>
      <article class="tes">
        <h2> have a question about this product? </h2>
        <p> Have a question about this product? sign up for a <br> free acount to open an issue and contact its <br> maintainers. </p>
        <form class="form" action="/links/signUp" method="POST">
          <label for="username"> Movie Name </label> 
          <input id="username" name="title" type="text" placeholder="Movie">

          <label for="email"> Movie URL </label>
          <input id="email" name="url" type="text" placeholder="Movie URL">
          <label for="password"> Description</label>
          <input id="password" type="text" name="description" placeholder="About the movie...">
          <input type="submit"  value="sign up">
        </form>
      </article>
      <section class="terminos">
        <p>By clicking "sign up", you agree to our <a href="#">terms of services</a> and <a href="#"> privacy statement</a>. we'll occasionally send you account related emails.</p>
      </section>

    </main> 